<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Select Station :</h1>
    <ul>
      <% for (let a of stations) {%>
      <li><a href="/admin/<%= a.name %> "><%= a.name %></a></li>
      <% } %>
    </ul>
    <!-- <form action="" method="get">

    </form> -->
  </body>
</html>
